<server description="Game On! Mediator Service">

    <!-- Enable features -->
  <featureManager>
    <feature>websocket-1.1</feature>
    <feature>localConnector-1.0</feature>
    <feature>jaxrs-2.0</feature>
    <feature>cdi-1.2</feature>
    <feature>ssl-1.0</feature>
    <feature>jsonp-1.0</feature>
    <feature>jndi-1.0</feature>
    <feature>concurrent-1.0</feature>
  </featureManager>

  <keyStore id="defaultKeyStore" password="testOnlyKeystore"/>
  <keyStore id="defaultTrustStore" location="truststore.jks" password="truststore"/>

  <sslDefault sslRef="DefaultSSLSettings"/>
  <ssl id="DefaultSSLSettings" keyStoreRef="defaultKeyStore" trustStoreRef="defaultTrustStore"/>

  <!-- To access this server from a remote client add a host attribute to
    the following element, e.g. host="*" -->
  <httpEndpoint host="*" httpPort="9086" httpsPort="9446" id="defaultHttpEndpoint"/>

  <!-- Signed JWT keystore info -->
  <jndiEntry jndiName="jwtKeyStore" value="${server.config.dir}/resources/security/key.jks"/>
  <jndiEntry jndiName="jwtKeyStorePassword" value="testOnlyKeystore"/>
  <jndiEntry jndiName="jwtKeyStoreAlias" value="default"/>

  <jndiEntry jndiName="playerUrl" value="${env.PLAYER_URL}"/>

  <jndiEntry jndiName="conciergeUrl" value="${env.CONCIERGE_URL}"/>
  <jndiEntry jndiName="conciergeQueryApiKey" value="${env.CONCIERGE_KEY}"/>

  <logging traceSpecification="*=info:net.wasdev.gameon.*=all"/>

  <applicationMonitor dropinsEnabled="false"/>
  <webApplication contextRoot="/mediator" id="mediator-app" location="mediator-app.war" name="mediator-app"/>

</server>
